{% extends "layout.html" %}

{% block title %}
Search for Rides
{% endblock %}

{% block main %}

<div>


</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Riders</th>
            <th scope="col">Leaving From</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Destination</th>
            <th scope="col">Riders</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="/static/mytrips.js"></script>
{% endblock %}