{% extends "layout.html" %}

{% block title %}
    Plan
{% endblock %}

{% block main %}
<div class="row  row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">Find a Ride (Suggested)</h5>
        <p class="card-text">Find other users planning on taking a similar ride when you are</p>
        <a href="/search" class="btn btn-primary">Search</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card bg-dark">
      <div class="card-body">
        <h5 class="card-title">Create a new ride.</h5>
        <p class="card-text">You will be in charge of this group.</p>
        <a href="/create" class="btn btn-primary">Start</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}