{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Create a New Account</h1>
        <p class="col-lg-10 fs-4">to begin looking for rides to share.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <h1 class="display-4 text-center mb-3">Register</h1>
        <form action="/register" method="post">
            <div class="mb-3">
              <input type="email" class="form-control mx-auto w-auto" name="InputEmail" placeholder="Email Address" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Password (again)" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>




{% endblock %}